<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración - Aká Mercado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <img src="/images/aka-mercado-icon.png" alt="Aka Mercado Icon" class="icon-left">
            <div>
                <h1 class="title">Administración de Inventario - Aká Mercado</h1>
                <p class="subtitle">Gestiona productos, clientes y más.</p>
            </div>
        </div>
    </header>    

    <main>
        <div class="buttons-container">
            <a href="/productos" class="btn btn-tertiary">Ir a Productos</a>
            <a href="/clientes" class="btn btn-tertiary">Ver Clientes</a>
            <a href="/historial-compras" class="btn btn-tertiary">Ver Historial de Compras</a>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>